# My ignores
*.html
*.svg
*.RDataTmp
*.bw
*.narrowPeak
*.gz
*.wig
*.info
*.txt
**/Data/Encode*
**/Data/hg19*
**/slurm*
**/*.Rout
**/*.RData
**/*.pdf
**/*.png
*.fa
*.Rproj
*.tsv
*.bed
*.h5
*.bam
*.bai

!Latex/paper/paper.pdf 
Latex/appendix/cache

Sim/ReadCounts/Code_*

Public/diffReps/*/*/Output*/

Public/MACS2/*/*/Output

Sim/SequencingReads/autosim*/

Sim/BIC/Analysis_*

Sim/GC/Analysis/

Public/Salmon/H1hesc
Public/Salmon/Helas3
Public/Salmon/Hepg2
Public/Salmon/Huvec
Public/Salmon/Homo_sapiens.GRCh37.cdna.all.fa.salmon.index/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
