#rep1
/stornext/SBPM/baldoni.p/epigraHMMPaper/Data/Encode_helas3/EZH2/wgEncodeBroadHistoneHelas3Ezh239875AlnRep1.markdup.q10.sorted.bam
/stornext/SBPM/baldoni.p/epigraHMMPaper/Data/Encode_helas3/EZH2/wgEncodeBroadHistoneHelas3Ezh239875AlnRep2.markdup.q10.sorted.bam
#rep2
/stornext/SBPM/baldoni.p/epigraHMMPaper/Data/Encode_hepg2/EZH2/wgEncodeBroadHistoneHepg2Ezh239875AlnRep1.markdup.q10.sorted.bam
/stornext/SBPM/baldoni.p/epigraHMMPaper/Data/Encode_hepg2/EZH2/wgEncodeBroadHistoneHepg2Ezh239875AlnRep2.markdup.q10.sorted.bam
#inputs1
/stornext/SBPM/baldoni.p/epigraHMMPaper/Data/Encode_helas3/Control/wgEncodeBroadHistoneHelas3ControlStdAlnRep1.markdup.q10.sorted.bam
/stornext/SBPM/baldoni.p/epigraHMMPaper/Data/Encode_helas3/Control/wgEncodeBroadHistoneHelas3ControlStdAlnRep2.markdup.q10.sorted.bam
#inputs2
/stornext/SBPM/baldoni.p/epigraHMMPaper/Data/Encode_hepg2/Control/wgEncodeBroadHistoneHepg2ControlStdAlnRep1.markdup.q10.sorted.bam
/stornext/SBPM/baldoni.p/epigraHMMPaper/Data/Encode_hepg2/Control/wgEncodeBroadHistoneHepg2ControlStdAlnRep2.markdup.q10.sorted.bam
#chrom_sizes
/stornext/Home/data/allstaff/b/baldoni.p/rgtdata/hg19/chrom.sizes.hg19
#genome
/stornext/Home/data/allstaff/b/baldoni.p/rgtdata/hg19/genome_hg19.fa